@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.header {
    background-color: #00689D;
    color: white;
    height: 36px;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
}

.overview {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small {
    font-size: 20px;
}

.problemCard {
    background-color: #00689D;
    color: white;
    width: 40%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.select { 
    margin-left: 5px;
}

.name {
    float: left;
    background-color: #00689D;
    color: white;
    margin-right: 100px;
    text-decoration-line: none;
}

.dropdownLabel {
    background-color: white;
    color: black;
    margin-right: 5px;
}

.dropdownMenu {
    margin-right: 10px;
}

.auth {
    float: right;
    color: white;
    background-color: #00689D;
    border-color: white;
    border-width: 1px;
    font-weight: 200;
    text-decoration-line: none;
}

.authform {
    background-color: #00689D;
    width: fit-content;
    color: white;
    padding: 20px;
    margin-top: 100px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    flex-direction: column;
}

.toggleBar {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
}

.filter {
    margin-bottom: 15px;
}

.h1 {
    margin-top: 25px;
    font-size: 40px;
}

.h2 {
    margin-top: 25px;
    font-size: 30px;
}

.content {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    padding: 20px;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: white;
    background-color: black;
    font-size: 16px;
    margin-right: 10px;
}

button {
    margin-top: 10px;
}

.form-field {
    background-color: black;
    justify-content: center;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    background-color: white;
}
.header {
    background-color: #00689D;
    color: white;
    height: 36px;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    background-color: #00689D;
    color: white;
    text-decoration-line: none;
}

.auth {
    color: white;
    background-color: #00689D;
    border-color: white;
    border-width: 1px;
    font-weight: 200;
    text-decoration-line: none;
}

.center-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #00689D;
}

.nav-link {
    color: white;
    background-color: #00689D;
    margin: 0 10px;
    font-weight: 200;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration-line: none;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    background-color: white;
}
