@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.header {
    background-color: #00689D;
    color: white;
    height: 36px;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
}

.name {
    float: left;
    background-color: #00689D;
    color: white;
    margin-right: 100px;
    text-decoration-line: none;
}

.auth {
    float: right;
    color: white;
    background-color: #00689D;
    border-color: white;
    border-width: 1px;
    font-weight: 200;
    text-decoration-line: none;
}

.authform {
    background-color: #00689D;
    width: fit-content;
    color: white;
    padding: 20px;
    margin-top: 100px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    flex-direction: column;
}

.content {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    padding: 20px;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: white;
    background-color: black;
    font-size: 16px;
    margin-right: 10px;
}

button {
    margin-top: 10px;
}

.form-field {
    background-color: black;
    justify-content: center;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    background-color: white;
}